In [ ]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
df = pd.read_csv("/content/gdrive/MyDrive/project/train.csv")

In [ ]:
df.head(1)

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied

In [ ]:
df.shape

(103904, 25)

In [ ]:
df['satisfaction'].unique()

array(['neutral or dissatisfied', 'satisfied'], dtype=object)

In [ ]:
df.describe()

,Unnamed: 0,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
count,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103594.000000
mean,51951.500000,64924.210502,39.379706,1189.448375,2.729683,3.060296,2.756901,2.976883,3.202129,3.250375,3.439396,3.358158,3.382363,3.351055,3.631833,3.304290,3.640428,3.286351,14.815618,15.178678
std,29994.645522,37463.812252,15.114964,997.147281,1.327829,1.525075,1.398929,1.277621,1.329533,1.349509,1.319088,1.332991,1.288354,1.315605,1.180903,1.265396,1.175663,1.312273,38.230901,38.698682
min,0.000000,1.000000,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,25975.750000,32533.750000,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000
50%,51951.500000,64856.500000,40.000000,843.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000
75%,77927.250000,97368.250000,51.000000,1743.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.000000,12.000000,13.000000
max,103903.000000,129880.000000,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000

In [ ]:
df['satisfaction']=df['satisfaction'].map({'neutral or dissatisfied':0, 'satisfied':1})

In [ ]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [ ]:
df['Gender']=df['Gender'].map({'Female':0, 'Male':1})

In [ ]:
df['Customer Type'].unique()

array(['Loyal Customer', 'disloyal Customer'], dtype=object)

In [ ]:
df['Customer Type']=df['Customer Type'].map({'disloyal Customer':0, 'Loyal Customer':1})

In [ ]:
def makeAgeGroup(value):
    if value <= 20:
        return 0
    if  21 <= value <= 30:
        return 1
    if 31 <= value <= 40:
        return 2
    if 41 <= value <= 60:
        return 3 
    if 61 <= value <= 70:
        return 4
    if value >= 71:
        return 5

In [ ]:
df['Age_Group'] = df['Age'].apply(makeAgeGroup)
df.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction,Age_Group
0,0,70172,1,1,13,Personal Travel,Eco Plus,460,3,4,...,4,3,4,4,5,5,25,18.0,0,0
1,1,5047,1,0,25,Business travel,Business,235,3,2,...,1,5,3,1,4,1,1,6.0,0,1
2,2,110028,0,1,26,Business travel,Business,1142,2,2,...,4,3,4,4,4,5,0,0.0,1,1
3,3,24026,0,1,25,Business travel,Business,562,2,5,...,2,5,3,1,4,2,11,9.0,0,1
4,4,119299,1,1,61,Business travel,Business,214,3,3,...,3,4,4,3,3,3,0,0.0,1,4

In [ ]:
df['Type of Travel'].unique()

array(['Personal Travel', 'Business travel'], dtype=object)

In [ ]:
df['Type of Travel']=df['Type of Travel'].map({'Personal Travel':0, 'Business travel':1})

In [ ]:
df['Class'].unique()

array(['Eco Plus', 'Business', 'Eco'], dtype=object)

In [ ]:
df['Class']=df['Class'].map({'Eco':0, 'Eco Plus':1, 'Business':2})

In [ ]:
df.drop(['Unnamed: 0','id','Age'], axis=1, inplace= True)

In [ ]:
df.dtypes

Gender                                 int64
Customer Type                          int64
Type of Travel                         int64
Class                                  int64
Flight Distance                        int64
Inflight wifi service                  int64
Departure/Arrival time convenient      int64
Ease of Online booking                 int64
Gate location                          int64
Food and drink                         int64
Online boarding                        int64
Seat comfort                           int64
Inflight entertainment                 int64
On-board service                       int64
Leg room service                       int64
Baggage handling                       int64
Checkin service                        int64
Inflight service                       int64
Cleanliness                            int64
Departure Delay in Minutes             int64
Arrival Delay in Minutes             float64
satisfaction                           int64
Age_Group                              int64
dtype: object

In [ ]:
y = df['satisfaction']

In [ ]:
df.drop(["satisfaction"], axis=1, inplace= True)

In [ ]:
df.drop(["Arrival Delay in Minutes"], axis=1, inplace= True)

In [ ]:
scaler = StandardScaler()
scaler.fit(df)
x_scaler = scaler.transform(df)

In [ ]:
x=sm.add_constant(df)
result = sm.OLS(y,x_scaler).fit()
result.summary()

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:           satisfaction   R-squared (uncentered):                   0.312
Model:                            OLS   Adj. R-squared (uncentered):              0.312
Method:                 Least Squares   F-statistic:                              2241.
Date:                Tue, 22 Nov 2022   Prob (F-statistic):                        0.00
Time:                        15:20:06   Log-Likelihood:                         -84575.
No. Observations:              103904   AIC:                                  1.692e+05
Df Residuals:                  103883   BIC:                                  1.694e+05
Df Model:                          21
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.0039      0.002      2.311      0.021       0.001       0.007
x2             0.1177      0.002     55.244      0.000       0.114       0.122
x3             0.1785      0.002     73.027      0.000       0.174       0.183
x4             0.0580      0.002     24.405      0.000       0.053       0.063
x5             0.0044      0.002      2.216      0.027       0.001       0.008
x6             0.0873      0.003     32.928      0.000       0.082       0.093
x7            -0.0248      0.002    -11.331      0.000      -0.029      -0.021
x8            -0.0556      0.003    -19.954      0.000      -0.061      -0.050
x9             0.0056      0.002      2.678      0.007       0.001       0.010
x10           -0.0058      0.002     -2.341      0.019      -0.011      -0.001
x11            0.1090      0.002     45.541      0.000       0.104       0.114
x12            0.0114      0.003      4.366      0.000       0.006       0.017
x13            0.0209      0.003      6.248      0.000       0.014       0.027
x14            0.0458      0.002     20.326      0.000       0.041       0.050
x15            0.0440      0.002     22.637      0.000       0.040       0.048
x16            0.0201      0.002      8.612      0.000       0.016       0.025
x17            0.0475      0.002     25.310      0.000       0.044       0.051
x18            0.0175      0.002      7.165      0.000       0.013       0.022
x19            0.0328      0.003     11.413      0.000       0.027       0.038
x20           -0.0179      0.002    -10.535      0.000      -0.021      -0.015
x21           -0.0135      0.002     -7.356      0.000      -0.017      -0.010
==============================================================================
Omnibus:                     6089.463   Durbin-Watson:                   0.741
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             9264.371
Skew:                           0.502   Prob(JB):                         0.00
Kurtosis:                       4.064   Cond. No.                         4.82
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x_scaler,y,test_size=0.2,random_state=43)

In [ ]:
reg = RandomForestClassifier()

In [ ]:
reg.fit(x_train,y_train)

RandomForestClassifier()

In [ ]:
y_predict = reg.predict(x_test)

In [ ]:
y_predict

array([0, 0, 1, ..., 1, 0, 1])

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score,classification_report

In [ ]:
cm = confusion_matrix(y_test,y_predict)

In [ ]:
cm

array([[11519,   204],
       [  593,  8465]])

In [ ]:
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.95      0.98      0.97     11723
           1       0.98      0.93      0.96      9058

    accuracy                           0.96     20781
   macro avg       0.96      0.96      0.96     20781
weighted avg       0.96      0.96      0.96     20781

In [ ]:
accuracy_score(y_test,y_predict)

0.961647658919205